{% extends "_base.html" %}
{% block head %}
    <style>
        textarea#text {
            vertical-align: baseline;
            max-width: 500px;
            width: 100%;
            height: 250px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Kontakt</h1>
    <p>
        Uvítám hlášení o chybách, návrhy na vylepšení i jakoukoliv jinou zpětnou vazbu
        ohledně aplikace.
    </p>
    <p>
        Preferuji transparentní komunikaci. Proto je tedy na Telegramu vytvořený kanál
        <a href="https://t.me/bakatasklist" target="_blank">@bakatasklist</a> a k němu
        připojená diskuzní skupina. Pro hlášení chyb používejte prosím pokud možno
        <a href="https://github.com/mvolfik/Bakalari-homework-tasklist/issues"
           target="_blank">GitHub Issues</a>
    </p>
    <p>
        Jinak samozřejmě také existuje můj e-mail
        (<a href="mailto:mat.volfik@gmail.com" target="_blank">mat.volfik@gmail.com</a>)
        a klasické <b>zlo</b> v podobě kontaktního formuláře:
    </p>
    <hr/>
    <form method="POST">
        {{ form.csrf_token }}
        <p>{{ form.email.label }}: {{ form.email }}</p>
        <p>{{ form.is_error }} {{ form.is_error.label }}</p>
        <div>{{ form.text.label }}: {{ form.text }}</div>
        <input type="submit" value="Odeslat"/>
    </form>
{% endblock %}